body{
    margin:0;
    padding:0;
    background:url("http://www.hdwallpaperspulse.com/wp-content/uploads/2018/06/12/so-nice-Gradient-Wallpaper.jpg");

}
#paczka{
    width:15%;
    height:15%;
    position: absolute;
    top: 30%;
    left: 85%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#loginl{
    margin:auto;
    width:100%;
    height:35%;
    text-align:center;
    font-size:30px;
    margin-bottom:10px;
}
#haslol{
    margin:auto;
    width:100%;
    height:35%;
    text-align:center;
    font-size:30px;
    margin-bottom:10px;
}
#zaloguj{
    width:50%;
    height:30%;

    margin-left:25%;
    font-size:20px;
}
#panel_zalogowany{
    width:50%;
    height:70%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background:silver;
    border-radius:60px;
}

#dane{
    width:50%;
    height:70%;
    float:left;
    margin-top:15%;

}
#skin{
    float:left;
    width:30%;
    height:10%;
    margin-top:10%;
    margin-left:5px;
}
#tekst{
    text-align:center;
    color:black;
    width:100%;
    height:20%;
    font-size:20px;
}
#wyloguj{
    text-align:center;
    font-size:20px;
    width:200px;
    height:50px;
    background:red;
    border-radius:30px;
    float:right;
    text-decoration:none;
    color:Black;
    line-height:50px;


}
#sklep{
    text-align:center;
    font-size:20px;
    width:200px;
    height:50px;
    background:green;
    border-radius:30px;
    float:right;
    text-decoration:none;
    color:Black;
    line-height:50px;


}
#przyciski{
    width:400px;
    height:50px;
    background:blue;
    margin:auto;


}
#error{
    text-align:center;
    font-size:40px;
}
#newsy{
    width:45%;
    height:70%;
    background: yellow;
    margin:auto;
    top:30%;
    position:relative;
    overflow-y:scroll ;
}

#post{
    width:90%;
    margin:auto;
    height:200px;
    background:red;
    top:10%;
    position:relative;
    margin-top:5px;
}
#napis2{
    width:100%;
    height:20%;
    line-height: 200%;
    font-size:20px;
    background:green;
    position:relative;

}
#tresc{
    position: relative;
    margin:auto;
    width:100%;
    height: 80%;
    background: chartreuse;
}
iframe{
    width:1000px;
    height:600px;
    position:relative;
    margin:auto;
    left: 10%;
    margin-top: 10%;
}
#wpisz{
    width:15%;
    height:60%;
    position:relative;
    background:red;
    top: 20%;
    left:5%;
}
#wpis{
    width:100%;
    height:100%;
    margin:auto;
}
#wpiser{
    width:100%;
    height:10%;
    font-size:30px;
}
#menu{
    width:18%;
    height:60%;
    background:deeppink;
    position:fixed;
    top:20%;

}
#bloczek{
    width:80%;
    height:80px;
    background:red;
    top:50px;
    position:relative;
    text-align:center;
    font-size:20px;
    margin:auto;
    line-height:80px;
    margin-top:20px;

}
#bloczek:hover{
    background: aqua;
}
#menu2{
    width:18%;
    height:80%;
    background:sienna;
    position:fixed;
    top:20%;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:black;
}
